.product-card img {
    width: 100%;
    max-width: 250px;
    margin: 10px 0;
}
.product-card {
    display: inline-block;
    width: 45%;
    background: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    text-align: center;
    vertical-align: top;
    transition: 0.3s;
}
button {
    padding: 10px 20px;
    background: #839958;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0a3323;
}
