



/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Cabeçalho */
.header {
    background-color: #354024;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-family: 'Courier New', Courier, monospace;
}

/* Menu */
.nav-menu ul {
    list-style: none;
    margin-top: 10px;
}

.nav-menu li {
    display: inline-block;
    margin: 0 15px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

.nav-menu a:hover {
    text-decoration: underline;
}

/* Conteúdo */
main {
    margin-top: 120px;
    padding: 20px;
    text-align: center;
}

/* Banner */
.banner {
    background: #94A59C;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
}

/* Produtos */


.product-card {
    display: inline-block;
    
    background: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    text-align: center;
    vertical-align: top;
    transition: 0.3s;
    border-radius: 10px;
}

.product-card:hover {
    transform: scale(1.03);
    background: #839958;
    border-color: #105666;
}

/* Seções */
section {
    margin-bottom: 30px;
}

iframe,
video {
    margin: 10px;
}

/* Formulário */
form input {
    width: 250px;
    padding: 8px;
}

button {
    padding: 10px 20px;
    background: #9cca41;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0a3323;
}

/* Rodapé */
.footer {
    background: #889063;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
#produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding:  5px;
}
@media(min-width: 768px) {
.products {
    grid-template-columns: repeat(2, 1fr);

}

}

@media(min-width: 1024px) {
.products {
    grid-template-columns: repeat(3, 1fr);

}

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsl(134, 9%, 54%);
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #244e10;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #A2B447;
}
.botao {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 15px;
    transition: 0,3s;
}

.botao:hover {
    background-color: #0056b3;
}
